In [1]:
%matplotlib inline
# %pylab

from __future__ import division

import pandas as pd
import numpy as np

from itertools import izip

import matplotlib
import matplotlib.pyplot as plt

matplotlib.use
plt.style.use('seaborn-poster')

In [34]:
MAINDIR = '/Users/benjaminlibman/Google Drive/Academics/CMU/Lab/Research/Unobserving/Data/'
RAW = MAINDIR + 'MedPC-Data/'
RF = MAINDIR + 'RF/Exp 3/'
RF2 = MAINDIR + 'RF2/'
SUMS = MAINDIR + 'Sums/'
SRVR = MAINDIR + 'Survivors/'

In [35]:
'''
event key:
100 - BO Left
110 - BO Right
120 - FR Left
130 - FR Right
200 - Pellet
300 - Start FR
400 - Start BO
410 - End BO
'''
# print(plt.style.available)

'\nevent key:\n100 - BO Left\n110 - BO Right\n120 - FR Left\n130 - FR Right\n200 - Pellet\n300 - Start FR\n400 - Start BO\n410 - End BO\n'

In [36]:
rats = ['BA1655', 'BA1656', 'BA1657', 'BA1658']

dset = pd.read_csv(RF + rats[1] + '.csv', sep=',', header=0, index_col=['date'])

In [37]:
dset.head(10)

,subject,frval,runnum,trial,trial2,frpointer,frpointerB,borpointer,borpointer2,bolpointer,time,fr_irt,prp,fr_prp,uo_prp,event
date,,,,,,,,,,,,,,,,
12/11/17,BA1656,0,1,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.0,300
12/11/17,BA1656,25,1,1,1,1,1,0,0,0,4.62,4.62,2.57,2.57,0.0,120
12/11/17,BA1656,25,1,1,1,2,2,0,0,0,6.11,1.49,0.00,0.00,0.0,120
12/11/17,BA1656,25,1,1,1,3,3,0,0,0,6.33,0.22,0.00,0.00,0.0,120
12/11/17,BA1656,25,1,1,1,4,4,0,0,0,7.18,0.85,0.00,0.00,0.0,120
12/11/17,BA1656,25,1,1,1,5,5,0,0,0,7.79,0.61,0.00,0.00,0.0,120
12/11/17,BA1656,25,1,1,1,6,6,0,0,0,8.42,0.63,0.00,0.00,0.0,120
12/11/17,BA1656,25,1,1,1,7,7,0,0,0,9.69,1.27,0.00,0.00,0.0,120
12/11/17,BA1656,25,1,1,1,8,8,0,0,0,10.63,0.94,0.00,0.00,0.0,120
12/11/17,BA1656,25,1,1,1,9,9,0,0,0,11.04,0.41,0.00,0.00,0.0,120

In [41]:
unstacked = dset.unstack(level='runnum')

In [42]:
us = pd.DataFrame(unstacked)
# us.to_csv(RF + 'BA1655TEST.csv')